# Gereral #
###########
.ssh
.svn
bin/

# WordPress Project
.org

# OS #
#######
.DS_Store*
ehthumbs.db
Thumbs.db

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.sass-cache

.dropbox
*.sql
desktop.ini
.init
*.log
*.exe*

# Project #
###########
node_modules
tmp

# FakerPress #
###########
vendor/*
vendor-prefixed/*
src/resources/css/*
src/resources/js/*.min.js
