# Gereral #
###########
.ssh
.svn

# OS #
#######
.DS_Store*
ehthumbs.db
Thumbs.db

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.sass-cache

.dropbox
*.sql
desktop.ini
.init
*.log
*.exe*
