/* = Settings Screen
=============================================*/
.__fakerpress {

}

.__fakerpress input[type="text"],
.__fakerpress input[type="password"],
.__fakerpress input[type="color"],
.__fakerpress input[type="date"],
.__fakerpress input[type="datetime"],
.__fakerpress input[type="datetime-local"],
.__fakerpress input[type="email"],
.__fakerpress input[type="month"],
.__fakerpress input[type="number"],
.__fakerpress input[type="password"],
.__fakerpress input[type="search"],
.__fakerpress input[type="tel"],
.__fakerpress input[type="text"],
.__fakerpress input[type="time"],
.__fakerpress input[type="url"],
.__fakerpress input[type="week"],
.__fakerpress select {
	padding: 4px 5px 3px;
}

.__fakerpress input[type="number"] {

}

.__fakerpress .fp-type-dropdown {
	margin-top:-5px;
}

.__fakerpress .fp-type-dropdown + .fp-field {
	margin-left: 10px;
}

.__fakerpress input::-webkit-input-placeholder { line-height: normal; }

.__fakerpress .select2-container-multi .select2-choices {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	background-color: #fff;
	color: #333;
	outline: none;
	-webkit-transition: 0.05s border-color ease-in-out;
	transition: 0.05s border-color ease-in-out;
}

.__fakerpress .fp-field-container .dashicon-date {
	height: 26px;
}

.__fakerpress .form-table {
	max-width: 940px;
}

.__fakerpress .fp-field-wrap {
	line-height: 28px;
}

.__fakerpress .fp-actions {
	display: inline-block;
	padding-left: 10px;
}

.__fakerpress .fp-actions input {
	margin-top: -1px;
}

.__fakerpress .fp-field-description {
	margin: 4px 1px 5px;
	color: #666;
	font-style: italic;
}

.__fakerpress .fp-field-radio label,
.__fakerpress .fp-field-checkbox_list label {
	display: block;
	margin: 5px 0;
}

.__fakerpress .fp-field-radio label input,
.__fakerpress .fp-field-checkbox_list label input {
	margin-right: 5px;
}

.__fakerpress .fp-field-wrap h3 {
	margin: 0 0 10px -22px;
	background-color: #f9f9f9;
	padding: 6px 0 6px 22px;
}

.__fakerpress .fp-field-wrap h3 ~ h3 {
	margin-top: 2.25em;
}

.__fakerpress .fp-field-wrap h3 + p {
	margin: 0 0 10px;
	padding-left: 12px;
}

.__fakerpress .fp-field-textarea.fp-size-small textarea {
	width: 180px;
	height: 60px;
}

.__fakerpress .fp-field-textarea.fp-size-medium textarea {
	width: 300px;
	height: 80px;
}

.__fakerpress .fp-field-textarea.fp-size-large textarea {
	width: 450px;
	height: 120px;
}

.__fakerpress .fp-size-tiny {
	width: 6em;
}

.__fakerpress .fp-size-small {
	width: 10em;
}

.__fakerpress .fp-size-medium {
	width: 25em
}

.__fakerpress .fp-size-large {
	width: 35em;
}

