.fakerpress-message {
	border-left: 4px solid #444;
	padding: 1px 12px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	margin-bottom: 5px;
}
.fakerpress-message.first {
	margin-top: 20px;
}

.fakerpress-message.fakerpress-message-success {
	border-left-color: #7ad03a;
}

.fakerpress-message.fakerpress-message-error {
	border-left-color: #dd3d36;
}

.fakerpress-message.fakerpress-message-warning {
	border-left-color: #ffba00;
}

.dashicon-date {
	height: 25px;
	line-height: 26px;
	border: 1px solid #DDD;
	margin-top: 1px;
}

